In [1]:
import pandas as pd
from datetime import datetime

In [2]:
# Dow Jones Industrial Average
# csv downloaded from https://www.marketwatch.com/investing/index/djia/download-data
df = pd.read_csv('djia.csv')
df.head()

         Date       Open       High        Low      Close
0  03/21/2025  41,763.40  42,011.40  41,433.86  41,985.35
1  03/20/2025  41,795.26  42,250.29  41,695.61  41,953.32
2  03/19/2025  41,613.19  42,178.41  41,613.19  41,964.63
3  03/18/2025  41,772.91  41,787.25  41,415.43  41,581.31
4  03/17/2025  41,460.22  42,013.10  41,412.75  41,841.63

In [3]:
dat = pd.DataFrame(data={
    'date': [datetime.strptime(d, '%m/%d/%Y').date().isoformat() for d in df['Date']],
    'value': [float(x.replace(',', '')) for x in df['Close']],
})
dat.head()

         date     value
0  2025-03-21  41985.35
1  2025-03-20  41953.32
2  2025-03-19  41964.63
3  2025-03-18  41581.31
4  2025-03-17  41841.63

In [4]:
dat.to_parquet('djia.parquet')